In [ ]:
# Install libraries!pip install mysql-connector-python

In [ ]:
# Import libraries
import pandas as pd
import mysql.connector

In [ ]:
#engine = create_engine("mysql+mysqlconnector://student:upb123!@manila.uni-paderborn.de:3306/yelp_db")

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='student', password='upb123!', host='manila.uni-paderborn.de', port=3306, database='yelp_db')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

In [ ]:
# Execute a simple SQL query
query_businesses_100 = """
    SELECT *
    FROM business 
    LIMIT 100
"""

businesses_100 = pd.read_sql(query_businesses_100, conn)

In [ ]:
businesses_100.head()

In [ ]:
# Execute a more complex SQL query involving inner join and where clauses
query_pizza_places_500 = """
    SELECT *
    FROM business 
    INNER JOIN category
    ON business.id = category.business_id
    WHERE category.category = 'pizza'
    AND business.city = 'Phoenix'
    LIMIT 500
"""

pizza_places_500 = pd.read_sql(query_pizza_places_500, engine)

In [ ]:
pizza_places_500.head()

In [ ]:
# Execute another SQL query
query_hilton = """
    SELECT *
    FROM business 
    INNER JOIN category
    ON business.id = category.business_id
    INNER JOIN review
    ON business.id = review.business_id
    WHERE business.name LIKE 'Hilton%'
"""

hilton = pd.read_sql(query_hilton, engine)

In [ ]:
hilton.head()

In [ ]:
# Close the connection
engine.dispose()